src/main/resources/hotels.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
  targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

  <xs:element name="getHotelRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="getHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hotel" type="tns:hotel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="hotel">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="address" type="xs:string"/>
      <xs:element name="rating" type="xs:int"/>
      <!-- TODO add the relatione with Amenities -->
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="PLN"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>